@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Login.cshtml";
}

<style>
    .centered-buttons {
        text-align: center;
        margin-top: 50px; /* Opsiyonel: Butonlardan önce bir boşluk bırakmak için */
    }

        .centered-buttons .btn {
            font-size: 24px; /* Buton yazı boyutu */
            padding: 20px 40px; /* Buton içerik alanı */
            margin: 10px; /* Butonlar arası boşluk */
        }
</style>


<div class="centered-buttons">
    <a href="/Basvuru/IsciBasvuru/" class="btn btn-primary btn-lg">İşçi Başvurusu</a>

    <a href="/Basvuru/StajBasvuru/" class="btn btn-primary btn-lg">Staj Başvurusu</a>
</div>
