
@{
    ViewBag.Title = "Ekle";
    Layout = "~/Views/Shared/View.cshtml";
}


<form class="form-group" method="post">
    <div>
        <label>Stajyer Adı</label>
        <input type="text" class="form-control" name="stajyerad" />
    </div>
    <div>
        <label>Kullanıcı Adı</label>
        <input type="text" class="form-control" name="stajyerkulad" />
    </div>
    <div>
        <label>Şifre</label>
        <input type="text" class="form-control" name="stajyersifre" />
    </div>

    <div>
        <button type="submit" style="margin:15px" class="btn btn-info">Stajyer Ekle</button>
    </div>

</form>
